MyXamarinApp/Droid/obj/Debug
ViewModelTest/Droid/bin/Debug/
ViewModelTest/Droid/obj/Debug
ViewModelTest/UITests/bin/Debug
XamarinTest/Droid/obj/Debug/
XamarinTest/UITests/obj/Debug/
XamarinTest/UITests/bin/Debug
XamarinTest/packages/
MyXamarinApp/packages/
ViewModelTest/packages/
XamarinTest/Droid/bin/Debug/
MyXamarinApp/Droid/bin/
MyXamarinApp/UITests/bin/Debug
MyXamarinApp/UITests/obj/Debug/
ViewModelTest/UITests/obj/Debug/
ViewModelTest/UITests/obj/Debug
ViewModelTest/UITests/obj
